footer {
  background-image: url("../../../../img/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  svg {
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      transition: all 0.4s;
      color: #ffffffaf;
    }
  }
}
.links {
  gap: 1rem;
  display: flex;
}
.email {
  color: #fff;
  display: flex;
  cursor: pointer;
  gap: 1rem;
}

@media (min-width: 320px) and (max-width: 720px) {
  .email {
    font-size: 14px;
  }
}

// email
.vazio {
  background-color: rgba(255, 0, 0, 0.671);
}
.em {
  z-index: 6;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 0.4s;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.596);
  form {
    h1 {
      color: #fff;
    }
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input {
      border: 1px solid #ffffff9a;
      outline: none;
      background: none;
      color: #fff;
      border-radius: 5px;
      &::placeholder {
        color: #e2e2e2;
      }
    }
    textarea {
      border: 1px solid #fff;
      outline: none;
      background: none;
      color: #fff;
      border-radius: 5px;
      &::placeholder {
        color: #e2e2e2;
      }
    }
    button {
      background: none;
      outline: none;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.4s;
      color: #fff;
      &:hover {
        color: #000;
        transition: all 0.4s;
        background-color: #ffffffa1;
      }
    }
  }
}
.emx {
  z-index: -2;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  transition: all 0.4s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    h1 {
      color: #fff;
    }
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input {
      border: 1px solid #fff;
      outline: none;
      background: none;
      color: #fff;
      border-radius: 5px;
    }
    textarea {
      border: 1px solid #fff;
      outline: none;
      background: none;
      color: #fff;
      border-radius: 5px;
    }
    button {
      background: none;
      outline: none;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.4s;
      color: #fff;
      &:hover {
        color: #000;
        transition: all 0.4s;
        background-color: #ffffffa1;
      }
    }
  }
}
.close {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

// email
