.cadastro {
  text-align: center;
  button {
    background-color: rgba(0, 4, 255, 0.541);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 7px;
    width: 100%;
  }
}
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  form {
    input {
      border-radius: 5px;
      outline: none;
      border: solid 1px grey;
    }
    label {
      display: flex;
      flex-direction: column;
    }
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.inputactive {
  background-color: rgba(255, 0, 0, 0.644);
  &::placeholder {
    color: black;
  }
}
