.cadastro {
  text-align: center;
}

.cadastro button {
  background-color: rgba(0, 4, 255, 0.541);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 7px;
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form form input {
  border-radius: 5px;
  outline: none;
  border: solid 1px grey;
}

.form form label {
  display: flex;
  flex-direction: column;
}

.inputactive {
  background-color: rgba(255, 0, 0, 0.644);
}

.inputactive::placeholder {
  color: black;
}
