.home {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.formdiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 60%;
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: rgba(0, 0, 0, 0.781);
    }
  }
  form {
    display: flex;
    gap: 5px;
    flex-direction: column;
    input {
      outline: none;
      border: 1px solid grey;
      border-radius: 5px;
    }
    label {
      display: flex;
      flex-direction: column;
    }
    button {
      background-color: rgba(0, 4, 255, 0.541);
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      border: none;
      padding: 7px;
      width: 100%;
    }
  }
}

.inputActive {
  background-color: rgba(255, 0, 0, 0.5);
  &::placeholder {
    color: black;
  }
}
