.em {
  z-index: 6;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.596);
}

.em form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.emx {
  z-index: -2;
  opacity: 0;
}

.close {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}
