article {
  text-align: center;
  height: 100%;
  margin: 0 5rem;
}
.imgsSlide {
  img {
    cursor: grab;
    height: 360px;
    border-radius: 10px;
    box-shadow: 14px 10px 16px grey;
  }
  button {
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    background: none;
    padding: 10px 20px;
    transition: all 0.4s;
    &:hover {
      transition: all 0.4s;
      background-color: #fff;
    }
  }
}
@media (min-width: 320px) and (max-width: 720px) {
  article {
    padding: 0;
    margin: 0;
  }
  .imgsSlide {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
    img {
      height: 150px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .imgsSlide {
    img {
      height: 230px;
    }
  }
}
