.conteudo {
  margin-top: 3rem;
}
.DadConteudo {
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 3rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  }
}
@media (min-width: 150px) and (max-width: 768px) {
  .conteudo {
    margin-top: 0;
  }
}
