.dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dev .bt {
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: rgba(0, 0, 255, 0.479);
  justify-content: center;
}

.dev button {
  cursor: pointer;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dados {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 6px 3px 16px;
}

.edit {
  font-size: 25px;
  color: green;
}

.delete {
  font-size: 25px;
  color: red;
}

.btIcon {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.insert {
  position: fixed;
  height: 100%;
  transition: all 0.4s;
  opacity: 1;
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.651);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.insert form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.insert form input {
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  background: none;
  color: #fff;
}

.insert form input::placeholder {
  color: #ffffffc7;
}

.insert form textarea {
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  background: none;
  color: #fff;
}

.insert form textarea::placeholder {
  color: #ffffffc7;
}

.insert form button {
  border-radius: 5px;
  padding: 10px 30px;
  background: none;
  color: #fff;
  border: 1px solid black;
  outline: none;
}

.insertOff {
  height: 100%;
  opacity: 0;
  transition: all 0.4s;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
}

.insertOff form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.insertOff form input {
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  background: none;
  color: #fff;
}

.insertOff form input::placeholder {
  color: #ffffffc7;
}

.insertOff form textarea {
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  background: none;
  color: #fff;
}

.insertOff form textarea::placeholder {
  color: #ffffffc7;
}

.insertOff form button {
  border-radius: 5px;
  padding: 10px 30px;
  background: none;
  color: #fff;
  border: 1px solid black;
  outline: none;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
}
