article {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

article img {
  height: 200px;
}

.sobre {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 10px 13px 9px grey;
}

.sobre p {
  padding: 1rem;
  margin: 0;
}

.trabalho {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 10px 13px 9px grey;
}

.trabalho p {
  padding: 1rem;
  margin: 0;
}

.txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.txt h1 {
  margin: 0;
}

@media (min-width: 320px) and (max-width: 700px) {
  article {
    align-items: center;
  }
  article img {
    order: 1;
    height: auto;
  }
  .txt {
    order: 2;
  }
  .sobre {
    width: 70%;
    flex-direction: column;
  }
  .trabalho {
    width: 70%;
    flex-direction: column;
  }
}
