article {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  img {
    height: 200px;
  }
}
.sobre {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  p {
    padding: 1rem;
    margin: 0;
  }

  box-shadow: 10px 13px 9px grey;
}
.trabalho {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  p {
    padding: 1rem;
    margin: 0;
  }

  box-shadow: 10px 13px 9px grey;
}

.txt {
  h1 {
    margin: 0;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 700px) {
  article {
    align-items: center;
    img {
      order: 1;
      height: auto;
    }
  }
  .txt {
    order: 2;
  }
  .sobre {
    width: 70%;
    flex-direction: column;
  }
  .trabalho {
    width: 70%;
    flex-direction: column;
  }
}
