article {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

article img {
  height: 200px;
}

.sobre {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 10px 13px 9px grey;
}

.sobre p {
  padding: 1rem;
  margin: 0;
}

.trabalho {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 10px 13px 9px grey;
}

.trabalho p {
  padding: 1rem;
  margin: 0;
}

.txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.txt h1 {
  margin: 0;
}
