.body {
  svg {
    color: rgb(0, 0, 0);
    font-size: 0px;
  }
}
.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
  cursor: pointer;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
  cursor: pointer;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
  cursor: pointer;
}
.nav {
  width: 100% !important;
  height: 0 !important;
  flex-direction: row !important;
  justify-content: space-around;
  gap: 1rem;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 40px;
  transition: 0.4s all;
  align-items: center;
  padding: 30px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 35px 0px;
  z-index: 4;
  background-color: rgb(84, 87, 255);
  svg {
    color: rgb(0, 0, 0);
    font-size: 40px;
  }
  button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
  }
}
.navClose {
  position: fixed;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 0px;
  transition: 0.4s all;
  z-index: 4;
}
.open {
  display: none;
  position: fixed;
  z-index: 3;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  svg {
    color: rgb(84, 87, 255);
    font-size: 40px;
  }
}

.CloseOpen {
  display: none;
}

.xclose {
  display: none;
  // display: block;
}
.Xnone {
  display: none;
}

@media (min-width: 150px) and (max-width: 768px) {
  .navClose {
    height: 0px;
    transition: 0.4s all;
  }
  .nav {
    width: auto !important;
    height: 100% !important;
    flex-direction: column !important;
    overflow: hidden;
    justify-content: flex-start;
  }
  .open {
    position: fixed;
    top: 1px;
    display: block;
  }
  .xclose {
    display: block;
  }
}
