header {
  transition: all 0.4s;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

header .elements {
  color: #000;
  background-color: #fff9;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .elements h2 {
  margin: 0;
}

header .elements h1 {
  margin: 0;
}

header .elements button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: black;
  background-color: #ffffffa1;
  padding: 1rem 3rem;
  width: 10%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.4s;
}

header .elements button:hover {
  transition: all 0.4s;
  background-color: #ffffffc7;
}

header .techs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 320px) and (max-width: 720px) {
  .techs {
    flex-direction: column;
  }
}
